<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585647145563-o086qotchqltt3s45bccclolic84mkrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585647145563-o086qotchqltt3s45bccclolic84mkrh</string>
	<key>API_KEY</key>
	<string>AIzaSyCvZkJPjR_mFyBrMp82Op9dK71gZ9tzUu0</string>
	<key>GCM_SENDER_ID</key>
	<string>585647145563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamsharp.WhatsUp</string>
	<key>PROJECT_ID</key>
	<string>whatsup-1eafa</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-1eafa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585647145563:ios:f3ea02252db1cce375b57e</string>
</dict>
</plist>